<div id="footer">
	<p>
	 Copyright © 2011-2012 <a href="http://carlosgabaldon.com">Carlos Gabaldon</a> | 
	 <a href="http://en.wikipedia.org/wiki/MIT_License">MIT License</a> 
	</p>
	<p><img src="/images/fossa-small-logo.gif"/></p>
</div>