<label for="project_name">Name:</label><br />
<%= f.text_field 'name', :size => 60 %><br />


<label for="project_description">Description:</label><br />
<%= f.text_area 'description',  :size => "60x10" %><br />

<label for="project_category">Priority:</label><br />
<%= select :project, :priority_id, @priorities.collect {|p| [ p.name, p.id ] } %><br /> <br />