<label for="feature_name">Name:</label><br />
<%= f.text_field 'name', :size => 60 %><br />

<label for="feature_description">Description:</label><br />
<%= f.text_area 'description',  :size => "60x10" %><br />

<label for="feature_category">Priority:</label><br />
<%= select :feature, :priority_id, @priorities.collect {|p| [ p.name, p.id ] } %><br /> <br />